@page
@model TicTacToe.Pages.ServerTicTacToeModel
@{
    ViewData["Title"] = "ServerTicTacToe";
}

<h2>ServerTicTacToe</h2>

<p>@Model.Turn's Turn</p>
<form>
    <div class="board">
        @for (int y = 0; y < 3; y++)
        {
            <div class="row">
                    @for (int x = 0; x < 3; x++)
                    {
                    @if (Model.Board[x, y] == null)
                    {
                        <input type="radio" name="cell-@x-@y" class="cell"/>
                    }
                        else
                        {
                        <input type="text" name="cell-@x-@y" value="@Model.Board[x,y]" class="cell">@Model.Board[x, y]</input>
                        }
                    }
            </div>
        }
    </div>
    <input type="submit" value="Make a Move"/>

</form>